@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// body{
//     //Gradient from https://uigradients.com/#DeepSpace
//     background: #232526;  /* fallback for old browsers */
//     background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
//     background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

// }
.alert-notice{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

// profile
.profile-content{
    padding-right: 15px;
    padding-left: 15px;
}
.job-title-icon-container{
    display: inline-block;
    font-size: 0.8em;
    box-sizing: border-box;
    border: 1px solid #f5f9f5;
    border-radius: 2px;
}
.job-title-icon{
    padding: 5px;
    width: 2em;
    text-align: center;
}
.job-developer-icon{
    color: green;
    background: black;
}
.job-investor-icon{
    color: gold;
    background: blue;
}
.job-entrepreneur-icon{
    color: white;
    background: black;
}
.well.job-title,.well.contact-info{
    h3{
        margin-top: 0px;
    }
}
//avatar
.avatar-thumb{
    width: 100px;
    max-width: 100%;
    border-radius: 50%;
}
/* .avatar-medium{
 
} */

//cummunity
.well.white-bg{
    background: white;
}
// misc
.zero-margin{
    margin: 0;
}